/* Reset some default styles */
body, h1, h2, p, a {
    margin: 0;
    padding: 0;
}

/* Set the background color */
body {
    background-color: #f5f5f5; /* Light gray background */
    font-family: "Roboto", sans-serif; /* Use the Roboto font */
}

/* Style the header */
header {
    background-color: #dadada; /* Eggplant purple */
    color: #073763;
    text-align: center;
    padding: 20px;
}

/* Style the main content container */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff; /* White background */
    border-radius: 5px
}

/* Style headings */
h1 {
    font-size: 36px;
    color: #073763; /* Dark blue color */
    margin-bottom: 20px;
}

h2 {
    font-size: 24px;
    color: #0b5394; /* Royal blue */
    margin-top: 20px;
}

/* Style paragraphs */
p {
    font-size: 18px;
    line-height: 1.6;
    color: #333; /* Dark gray color */
}

/* Style links */
a {
    color: #045050; /* Teal */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Add a subtle hover effect to links */
a:focus {
    outline: none;
    background-color: #008080; /* Teal */
    color: #fff;
    padding: 2px 4px;
    border-radius: 4px;
}

/* Add a transition for smoother hover effects */
a, button {
    transition: all 0.3s ease;
}
